<!DOCTYPE html>
<html data-ng-app="app" class="ng-scope">
<head>
	<title>{$info.title}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	<!--禁止自动识别电话号码-->
	<meta name="format-detection" content="telephone=no">
	<!--禁止自动识别邮箱-->
	<meta name="format-detection" content="email=no">
	<!--iphone中safari私有meta标签,允许全屏模式浏览,隐藏浏览器导航栏-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!--iphone中safari顶端的状态条的样式black(黑色)-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
	<link rel="stylesheet" href="__PUBLIC__/css/mui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/mobile/detail/app.css" type="text/css">

	<script src="__PUBLIC__/mobile/js/jquery-1.9.1.min.js" async=""></script>
	<!--<script src="__PUBLIC__/mobile/detail/goods-detail-ctrl.js" async=""></script>-->
	<!--<script src="__PUBLIC__/mobile/detail/base-model.js" async=""></script>-->
	<!--<script src="__PUBLIC__/mobile/detail/goods-model.js" async=""></script>-->
	<!--<script src="__PUBLIC__/mobile/detail/comment-model.js" async=""></script>-->
	<!--<script src="__PUBLIC__/mobile/detail/common-model.js" async=""></script>-->
	<!--<script src="__PUBLIC__/mobile/detail/account-model.js" async=""></script>-->
	<!--<script src="__PUBLIC__/mobile/detail/TouchSlide.js" async=""></script>-->
	  <style>
		  .f-btn-more{
			  height: auto;
		  }
		  .timespan{float: right;color: red;font-size: 18px;}
		  .timespan_h4{width:100%;display:block;color: red;padding-bottom: 15px;font-size: 18px;}
	  </style>
</head>

<body ng-controller="AppCtrl" class="ng-scope smart"  style="margin-top: -22px;	">
<header class="mui-bar mui-bar-nav" style="background-color: white;overflow: hidden;">
	<a href="{:U('/freetour')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 id="title" class="mui-title"><img src="__PUBLIC__/images/logo.gif" width="40%"/></h1>
	<a class="mui-icon mui-icon-home mui-icon mui-icon-right-nav mui-pull-right" href="{:U('/')}"></a>

</header>
<div class="app ng-scope" id="app" style="height: 100%;">
	<div class="m-page f-bg ng-scope">
	<!-- 图片 -->
	<!-- <div lun-bo nameprop="data.slides" arrow="true" num='true' class="f-fullwidth"></div> -->
	<!-- 轮播图 -->
	<div id="slideBox" class="m-slideBox">
		<div class="hd">
            <span class="prev m-slide-left">
                <img src="__PUBLIC__/mobile/detail/arrow-left-big.png" ng-hide="pageIndex == 1" class="ng-hide" height="82" width="33">
            </span>
            <span class="next m-slide-right">
                <img src="__PUBLIC__/mobile/detail/arrow-right-big.png" ng-hide="pageIndex == data.slides.length"  height="82" width="33">
            </span>
		</div>
		<div ng-show="data.slides.length == 1" class="ng-hide">
			<img src="__PUBLIC__/uploads{$info['images'][0]}" width="100%">
			<a class="m-touch-num" href=""> 1/1</a>
		</div>
		<div class="bd" ng-hide="data.slides.length == 1">
			<div class="tempWrap" style="overflow:hidden; position:relative;">
				<ul style="width: 9720px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translateX(-540px);">
				<!-- ngRepeat: item in data.slides -->
					<volist name="info.images" id="vo">
				<li ng-repeat="item in data.slides" on-finish-render-filters="" class="ng-scope" style="display: table-cell; vertical-align: top; width: 540px;">
					<a class="pic"><img src="__PUBLIC__/uploads/{$vo}" width="100%"></a>
				</li>
					</volist>
				</ul>
			</div>
			<a class="m-touch-num ng-binding" href=""> 1/<php>echo count($info['images']);</php></a>
		</div>
	</div>
	<div class="m-project-box">
		<if condition="$info.end_time neq ''">
			<div class="timespan_h4">
				<span>¥&nbsp;{$info.price}</span><br/>
				<s style="font-size: 12px;">¥&nbsp;{$info.old_price}</s>
				<p style="float: right;margin-top: -15px;" class="countDown"></p>

			</div>
		<else/>
			<div class="m-project-money ng-binding">
				¥&nbsp;{$info.price}
				<span>
                起
            </span>
			</div>
		</if>
		<h4 class="f-font-15" style="display: block;width: 100%;">
			<b class="ng-binding">{$info.title}</b>
		</h4>
		<!--  <p class="s-gray f-font-13">
			<span class="ng-binding">7房</span>
			<span style="padding:0 1px">|</span>
			<span class="ng-binding">9床</span>
			<span style="padding:0 1px">|</span>
			<span class="ng-binding">宜居18人</span>
		</p>-->
		<!--    <div class="f-table f-fullwidth m-project-title">
               <div class="f-table-cell" style="padding-top:2px">
                   <span class="f-font-15">
                       {{data.goods.g_title}}
                   </span>
                   <span class="f-font-13">
                       （{{data.goods.g_room}}房{{data.goods.g_bed}}床）
                   </span>
               </div>
               <p class="f-table-cell m-money f-text-right" style="vertical-align:top;width:130px">
                   <span class="f-font-15">&yen;</span>
                   <b style="font-size: 18px;">
                       {{data.goods.g_price}}
                   </b>
                   <span>元起/晚</span>
               </p>
           </div> -->
		<div class="f-fullwidth" style="padding-top: 8px">
			<!-- ngRepeat: tag in data.goods.g_tags --><div style="display: inline-block;" ng-repeat="tag in data.goods.g_tags" class="ng-scope">
			<a href="http://m.ipyue.com" class="m-project-mark ng-binding">返回首页</a>

		</div>
			<volist name="info.tags" id="vo">
				<div style="display: inline-block;" ng-repeat="tag in data.goods.g_tags" class="ng-scope">
					<a class="m-project-mark ng-binding">{$vo}</a>
				</div>
			</volist>

			<!-- end ngRepeat: tag in data.goods.g_tags --><div style="display: inline-block;" ng-repeat="tag in data.goods.g_tags" class="ng-scope">
			<!--<a class="m-project-mark ng-binding">豪华装修</a>-->
		</div><!-- end ngRepeat: tag in data.goods.g_tags --><div style="display: inline-block;" ng-repeat="tag in data.goods.g_tags" class="ng-scope">
			<!--<a class="m-project-mark ng-binding">管家服务</a>-->
		</div><!-- end ngRepeat: tag in data.goods.g_tags -->
		</div>
		<a href="" class="m-vr ng-hide" ng-show="data.goods.show_url">
			<img src="__PUBLIC__/mobile/detail/icon-vr.png" alt="vr" style="margin-top:-2px" height="12" width="15">
			&nbsp;720度全景看房
			<img src="__PUBLIC__/mobile/detail/icon-right-2.png" alt="右箭头" class="f-fr" style="margin-top:10px" height="16" width="14">
		</a>
		<!-- 横线 -->
		<!--<div class="m-project-title-line">-->
		<!--</div>-->
		<!--<p class="m-adress ng-binding">-->
			<!--地址：广州花都区碧桂园棕榈岛二街8号-->
			<!--<img src="__PUBLIC__/mobile/detail/detail-adress.png" alt="" ng-click="openMap(data.goods.map)" ng-show="(data.goods.map.x &amp;&amp; data.goods.map.y) || data.goods.map.link" class="" height="22" width="18">-->
		<!--</p>-->
	</div>
	<!-- tab -->
	<ul class="m-project-tab clearfix f-fullwidth">
		<li ng-click="tab('detail')" ng-class="{'active': data.currentTab == 'detail'}" class="active">
			<a>
				产品详情
			</a>
		</li>
		<li ng-click="tab('price')" ng-class="{'active': data.currentTab == 'price'}">
			<a>
				预定价格
			</a>
		</li>
	</ul>
	<!-- 别墅详情 -->
	<div ng-show="data.currentTab == 'detail'">
		<!-- 别墅介绍 -->
		<div class="m-pdetail-item f-fullwidth">
			<div class="f-table f-fullwidth">
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
				<div class="f-table-cell m-title">
					详情介绍
				</div>
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
			</div>
			<div class="f-mt5 m-field-img-box">
				<div class="f-fullwidth ng-binding m-field-content" ng-class="{'m-field-content' : moreField}" ng-bind-html="data.goods.content | to_trusted">
					<!--{$info.description}-->
                                        {$info.feature}
					<!--<p style="line-height: 1.75em;"><span style=";font-family:微软雅黑;font-size:14px"></span></p>-->
					<!--<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; box-sizing: border-box; border: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Tahoma, 微软雅黑, sans-serif; font-size: 14px; text-align: justify; white-space: normal; line-height: 1.75em; background-color: rgb(255, 255, 255);"><br></p>-->
					<!--<p style="line-height: 1.75em;"><br></p>-->

					<!--<p style="line-height: 1.75em;"><img src="__PUBLIC__/uploads{$info['images'][0]}"><br></p>-->
					<volist name="info.images" id="vo">
						<p><br></p>
						<if condition="$key lt 2">
							<p style="display: block;"><img src="__PUBLIC__/uploads{$vo}" style="white-space: normal;"></p>
							<else/>
							<p class="more_image" style="display: none;"><img src="__PUBLIC__/uploads{$vo}" style="white-space: normal;"></p>
						</if>
					</volist>
					</div>
				<div class="f-text-center">
					<button class="f-btn-more f-mt20 ng-binding" onclick="getMoreImages()">
						更多
					</button>
				</div>
			</div>
		</div>
		<!-- 周边交通 -->
		<div class="m-pdetail-item f-fullwidth f-mt5">
			<div class="f-table f-fullwidth">
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
				<div class="f-table-cell m-title">
					周边交通
				</div>
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
			</div>
			<div class="f-mt5 m-facilities-img-box">
				<div ng-bind-html="data.goods.g_description | to_trusted" ng-class="{'m-tip-box': moreTip}" class="ng-binding m-tip-box xuzhi" style="height: 150px;">{$info.cost_info}</div>
				<div class="f-text-center">
					<button class="f-btn-more f-mt20 ng-binding" onclick="getMoreTip()">
						更多
					</button>
				</div>
			</div>
		</div>

		<!-- 配套设施 -->
		<div class="m-pdetail-item f-fullwidth f-mt5">
			<div class="f-table f-fullwidth">
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
				<div class="f-table-cell m-title">
					产品配套
				</div>
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
			</div>
			<div class="f-mt5 m-facilities-img-box">
				<div ng-bind-html="data.goods.g_description | to_trusted" ng-class="{'m-tip-box': moreTip}" class="ng-binding m-tip-box xuzhi" style="height: 150px;">{$info.reference_route}</div>
				<div class="f-text-center">
					<button class="f-btn-more f-mt20 ng-binding" onclick="getMoreTip()">
						更多
					</button>
				</div>
			</div>
		</div>


		<!-- 参考行程 -->
		<!--<div class="m-pdetail-item f-fullwidth">-->
			<!--<div class="f-table f-fullwidth">-->
				<!--<div class="f-table-cell">-->
					<!--<hr>&nbsp;-->
				<!--</div>-->
				<!--<div class="f-table-cell m-title">-->
					<!--参考行程-->
				<!--</div>-->
				<!--<div class="f-table-cell">-->
					<!--<hr>&nbsp;-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="f-mt5">-->
				<!--<div ng-bind-html="data.goods.g_description | to_trusted" ng-class="{'m-tip-box': moreTip}" class="ng-binding m-tip-box">{$info.feature}</div>-->
				<!--&lt;!&ndash;<div class="f-text-center">&ndash;&gt;-->
				<!--&lt;!&ndash;<button class="f-btn-more f-mt20 ng-binding" ng-click="getMoreTip()">&ndash;&gt;-->
				<!--&lt;!&ndash;更多&ndash;&gt;-->
				<!--&lt;!&ndash;</button>&ndash;&gt;-->
				<!--&lt;!&ndash;</div>&ndash;&gt;-->
			<!--</div>-->
		<!--</div>-->
		<!-- 预订须知 -->
		<div class="m-pdetail-item f-fullwidth">
			<div class="f-table f-fullwidth">
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
				<div class="f-table-cell m-title">
					预订须知
				</div>
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
			</div>
			<div class="f-mt5">
				<div ng-bind-html="data.goods.g_description | to_trusted" ng-class="{'m-tip-box': moreTip}" class="ng-binding m-tip-box xuzhi" style="height: 150px;">{$info.booking_notice}</div>
				<div class="f-text-center">
					<button class="f-btn-more f-mt20 ng-binding" onclick="getMoreTip()">
						更多
					</button>
				</div>
			</div>
		</div>

		<!-- 评价 -->
		<div class="m-pdetail-item f-fullwidth f-mt5">
			<!-- 标题 -->
			<div class="f-table f-fullwidth">
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
				<div class="f-table-cell m-title">
					用户评价
				</div>
				<div class="f-table-cell">
					<hr>&nbsp;
				</div>
			</div>
			<div class="m-comment-box ng-hide" ng-show="data.comment">
				<div class="m-comment-user">
					<img alt="" height="100%" width="100%">
				</div>
				<span class="ng-binding" f-font-12=""></span>
				<p class="ng-binding">

				</p>
				<!-- 评论图片 -->

	<div class="clearfix" style="height:40px"></div>
</div>
	<div class="m-tab-foot ng-scope">
		<ul>
			<li>
				<a href="http://tb.53kf.com/code/client/10151330/1" class="service" ng-click="openService()">
					咨询客服
				</a>
			</li>
			<li class="active">
				<a onclick="order()">
					立即下单
				</a>
			</li>
		</ul>
	</div>
</div>

		<!--通用分享-->
		<!--新版分享特效-->
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script>

			var title="{$info.title}";
			var link = "http://{$_SERVER['HTTP_HOST']}{:U('freetour/detail',array('id'=>$info['id'],'from'=>$_SESSION['channel']))}";
			var desc="{$info.title}";
			var imgUrl="http://{$_SERVER['HTTP_HOST']}__PUBLIC__/uploads{$info['images'][0]}";

			wx.config({
				debug: false,
				appId: "{$data['appId']}",
				timestamp: '{$data["timestamp"]}',
				nonceStr: '{$data["nonceStr"]}',
				signature: '{$data["signature"]}',
				jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			});

			wx.ready(function () {
				// 在这里调用 API
				//分享朋友圈
				wx.onMenuShareTimeline({
					title: title, // 分享标题
					link: link, // 分享链接
					imgUrl: imgUrl, // 分享图标
					success: function () {
						// 用户确认分享后执行的回调函数
					},
					cancel: function () {
						// 用户取消分享后执行的回调函数
					}
				});
				//分享给朋友
				wx.onMenuShareAppMessage({
					title: title, // 分享标题
					desc: desc, // 分享描述
					link: link, // 分享链接
					imgUrl: imgUrl, // 分享图标
					type: '', // 分享类型,music、video或link，不填默认为link
					dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
					success: function () {
						// 用户确认分享后执行的回调函数
					},
					cancel: function () {
						// 用户取消分享后执行的回调函数
					}
				});
				//分享QQ
				wx.onMenuShareQQ({
					title: title, // 分享标题
					desc: desc, // 分享描述
					link: link, // 分享链接
					imgUrl: imgUrl, // 分享图标
					success: function () {
						// 用户确认分享后执行的回调函数
					},
					cancel: function () {
						// 用户取消分享后执行的回调函数
					}
				});
			});
		</script>
<!-- <script src="__PUBLIC__/mobile/detail/hm.js"></script><script src="__PUBLIC__/mobile/detail/vendor.js"></script>
 <script src="__PUBLIC__/mobile/detail/jweixin-1.js"></script>
 <!-- 百度统计 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?646713249fd3ceeab66e16bc78c8e814";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
<script>
	var end_time = "{$info.end_time}";
	countdown(end_time);
// var _hmt = _hmt || [];
 (function() {
//     var hm = document.createElement("script");
//     hm.src = "https://hm.baidu.com/hm.js?a8ec084ebd78049e44b2f27947567ddf";
//     var s = document.getElementsByTagName("script")[0];
//     s.parentNode.insertBefore(hm, s);


 })();
	//更多介绍
	function getMoreImages(){
		var more_images = $('.m-field-img-box').find('.more_image');
		more_images.each(function(){
			$(this).css('display','block');
		});
	}
	//更多须知
	function getMoreTip(){
		$('.xuzhi').css('height','');
	}

	//下单
	function order(){
		window.location.href="{:U('/orders/create_order')}/id/{$info.id}";
	}

	//倒计时
	function countdown(starttime){
        var starttime = new Date(starttime);
        setInterval(function () {
            var nowtime = new Date();
            var html_text='';
            var time = starttime - nowtime;
            var day = parseInt(time / 1000 / 60 / 60 / 24);
            var hour = parseInt(time / 1000 / 60 / 60 % 24);
            if(day>0){
                html_text+=day+'天'+hour+'小时';
            }else{
                html_text+=hour+'小时';
			}
            var minute = parseInt(time / 1000 / 60 % 60);
            var seconds = parseInt(time / 1000 % 60);

            $('.countDown').html('<span style="display: inline;height: 27px;line-height: 27px;">距结束：</span><span class="timespan">'+html_text + minute + "分钟" + seconds + "秒"+'</span>');
        }, 1000);
	}

 </script>
</body></html>